body {
    font-family: sans-serif;
}
  
button {
    border-radius: 16px;
    border: none;
    padding: 6px 16px;
}
  
button:hover {
    background-color: #666;
    cursor: pointer;
}
  
.within-24hours-area {
    background-color: #ffffe0;
    width: 400px;
    min-height: 200px;
    padding: 8px;
    margin: 8px;
    border:#000;
}
  
.within-3days-area {
    background-color:#ffffe0;
    width: 400px;
    min-height: 200px;
    padding: 8px;
    margin: 8px;
    border:#000;
}

.within-5days-area {
    background-color:#ffffe0;
    width: 400px;
    min-height: 200px;
    padding: 8px;
    margin: 8px;
    border:#000;
}
  
.title {
    text-align: center;
    margin-top: 0;
    font-weight: bold;
    color: #666;
}
  
.list-row {
    display: flex;
    align-items: center;
    padding-bottom: 4px;
}

.justify-content-space {
    justify-content:space-between;
}

.container {
    flex-direction: column;
}

.gray {
    background-color: gray;
}

.red {
    background-color: red;
}